 *{
	margin: 0;
	padding: 0;
	outline: none;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}
body {

	background-color: #69a6ce;
	height: 100hv;
	background-size: 400%;
}
h1{
	color: #69a6ce;
}
.error{
	position: absolute;
	top: 10%;
	left: 17%;
	right: 17%;
	bottom: 20%;
	display: flex;
	align-items: center;
	justify-content: center;
	background: #fff;
	box-shadow: 0px 5px 10px rgb(0, 0, 0, 0.1);
}
.error .content{
	max-width: 600px;
	text-align: center;
}
.content h1{
	font-size: 15vw;
	line-height: 1em;
}
.content h4{
	margin-bottom: 20px;
	text-transform: uppercase;
	color: #000;
	max-width: 600px;
	font-size: 2em;
}
.content p{
	font-size: 1.2em;
	color: #0d0d0d;
}
.content .btn{
	margin: 25px 0;
	display: inline-flex;
}
.content .btn a{
	display: inline-block;
	margin: 0 10px;
	text-decoration: none;
	border: 2px solid #69a6ce;
	color: #69a6ce;
	font-weight: 500;
	padding: 10px 25px;
	border-radius: 25px;
	text-transform: uppercase;
}
.content .btn a:hover{
	background: #69a6ce;
	color: #fff;
}
